.App {
  text-align: center;
}

body {
  font-family: 'Newsreader', serif;
}
#thumbs {   
  /* width: 540px; */
  /* margin-top:90px; */
  margin-left: auto; 
  margin-right: auto;

   /* text-align: justify; */
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#thumbs a {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 2rem;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

/* .navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
} */

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: black; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

.banner {
  width: 100%;
  height: 600px;
}

.banner-img {
  width: 100%;
  height: 600px;
}

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
*{
  box-sizing: border-box;
}


.container{
  margin-top: 2%;
  background-color: #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  height: 90%;
  width: 100%;
 
}
.top{
   /* background-image: url('https://source.unsplash.com/67-sOi7mVIk/1920x1280'); */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;  
  width: 70%; 
}
h1{
  color: #ffffff;
  text-align: center;
  top : 0;
}
.bottom{
  color: #ffffff;
  display: flex;
	flex-direction: column;
  padding: 2%;
  text-align: center;
  width: 50%;
}
.bottom h2{
  	border-bottom: 1px solid #333;
	font-weight: 400;
	font-size: large;
	margin: 10px 0 0;
}
.bottom p{
  color: #Ff6fa5;
font-weight: 500;
	font-size: medium;
	margin: 3px 0;
}
.bottom button {
	background-color: transparent;
	border: 1px solid #Ff6fa5;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	padding: 15px 30px;
	margin-top: 5%;
}
@media screen and (max-width: 800px) {
	.left {
		width: 100%;
	}
	
	.left::after {
		display: none;
	}
	
	.top {
		display: none;
	}
}

.styled-btn{
  background: rgb(240, 26, 97);
  padding: 15px 35px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16.2px;
  margin: 10px 0;
  border-radius: 5px;
  transition: .3s ease;
}
.styled-submit{
  background: rgb(240, 26, 97);
  padding: 15px 35px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16.2px;
  margin: 10px 0;
  border-radius: 5px;
  transition: .3s ease;
  margin-top: 10%;
}




/* div {
  width: 200px;
  height: 100px;
  margin: 0 auto;
} */
input {

  height: 35px;
  margin: auto;
  width: 40%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;

  border-radius: 3px;
  padding: 0 3px;
  color: rgb(0, 0, 0);
}
