.App {
  text-align: center;
}

body {
  font-family: 'Newsreader', serif;
  background: url("https://images.unsplash.com/photo-1520462374865-cbc28f0b5150?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
#thumbs {   
  /* width: 540px; */
  /* margin-top:90px; */
  margin-left: 10%; 
  margin-right: 10%;

   /* text-align: justify; */
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
 margin:0;
 padding:0;
}

/* nav{
display:flex;
background-color: hsl(0, 0%, 0%);
justify-content: space-around;
padding:20px 0;
margin-bottom: 20px;
color:rgb(255, 254, 254);

align-items: center;
} */
nav.logo{
letter-spacing: 3px;
}
nav ul{
display:flex;
list-style: none;
width:40%;
justify-content: space-between;
}
nav ul li a {
  color:rgb(255, 254, 254);
  text-decoration: none;
  font-size: 1em;
}

.btn{
border-radius: 40px;
}
/*Hamburger */
.menu-bars{
display:none;
flex-direction: column;
height:20px;
justify-content: space-between;
position:relative;
  z-index:999;
}
.menu-bars input{
position: absolute;
width:40px;
height:28px;
left:-5px;
top:-3px;
opacity: 0;
cursor:pointer;
z-index: 2;
}

.menu-bars span{
display:block;
width:28px;
height:3px;
background-color:rgb(255, 254, 254);
border-radius: 3px;
transition: all 0.3s;
}

.menu-bars span:nth-child(2){
transform-origin: 0 0 ;
}

.menu-bars span:nth-child(4){
  transform-origin: 0 100% ;
  }

.menu-bars input:checked ~ span:nth-child(2){
background-color: white;
transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px,0); 
  }

  .menu-bars input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0); 
    }


@media only screen and (max-width: 768px){
nav ul{
width:50%;
}

}

@media only screen and (max-width: 576px){
  .menu-bars{
  display:flex;
  }
  nav ul{
  position:absolute;
  right:0;
  top:0;
  width:100%;
  height:100vh;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: hsl(342, 96%, 50%);
  z-index: 1;
  transform: translateY(-100%);
  transition: all 1s;
  }
  }
  nav ul.slide{
    transform: translateY(0);
  }

#thumbs a {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 2rem;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
*{
  box-sizing: border-box;
}


.container{
  margin-top: 2%;
  background-color: #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  height: 90%;
  width: 100%;
 
}
.top{
   /* background-image: url('https://source.unsplash.com/67-sOi7mVIk/1920x1280'); */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;  
  width: 70%; 
}
h1{
  color: #ffffff;
  text-align: center;
  top : 0;
}
.bottom{
  color: #6897bb;
  display: flex;
	flex-direction: column;
  padding: 2%;
  text-align: center;
  width: 50%;
}
.bottom h2{
  	border-bottom: 1px solid #333;
	font-weight: 400;
	font-size: large;
	margin: 10px 0 0;
}
.bottom p{
  color: white;
font-weight: 500;
	font-size: medium;
	margin: 3px 0;
}
.bottom button {
	background-color: transparent;
	border: 1px solid #Ff6fa5;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	padding: 15px 30px;
	margin-top: 5%;
}
@media screen and (max-width: 800px) {
	.left {
		width: 100%;
	}
	
	.left::after {
		display: none;
	}
	
	.top {
		display: none;
	}
}

.styled-btn{
  background: #6897bb;
  padding: 15px 35px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16.2px;
  margin: 10px 0;
  border-radius: 5px;
  transition: .3s ease;
}
.styled-submit{
  background: #6897bb;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16.2px;
  margin: 10px 0;
  border-radius: 5px;
  transition: .3s ease;
  margin-top: 5%;
}

input {

  height: 35px;
  /* margin: auto; */
  margin-bottom: 20px;
  width: 40%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  outline: none;

  border-radius: 3px;
  padding: 0 3px;
  color: rgb(0, 0, 0);
}

/* .container{
  position: relative;
  width: 100%;  height: 100vh;
  background: linear-gradient(180deg , #fff 0% 50%, #673ab7 50% 100%);
} */
.container .login{
  position: absolute;
  top: 50%;   left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  padding: 40px 20px 0;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  box-sizing: border-box;
  background: #fff;
}
.container .login h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #726b6b;
}
.container .login form{
  position: relative;
}
.container .login form .row{
  position: relative;
  margin: 40px 0;
  width: 100%;
}
.container .login form .row input,.container .login form .row textarea{
  position: relative;
  border: none;   outline: none;
  width: 100%;
  padding: 6px 0;
  border-bottom: 1px solid #726b6b;
  font-size: 20px;
  color: #726b6b;
  background: transparent;
}
.container .login form .row span{
  color: #726b6b;  background: transparent;
  display: inline-block;
  padding: 3px 10px;
  position: absolute;
  top: 8px;  left: 0;
  font-size: 15px;
  text-transform: uppercase;
  /* transition: .5s;
  z-index: -1; */
}
.container .login form .row input:focus + span ,
.container .login form .row textarea:focus + span,
.container .login form .row input:valid + span ,
.container .login form .row textarea:valid + span{
  color: #fff;  background: #6897bb;
  top: -20px;
}
.container .login form .row:last-child{
  text-align: right;
  margin: 20px 0;
}
.container .login form .row input[type = 'submit']{
  width: auto;
  border: none;
  color: #fff;  background: #6897bb;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

form {
  margin-right: 10%;
  margin-left: 10%
}

.myReservation {
  margin-left: 10%;
  margin-right: 10%;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:400:300:500:600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 3em;
  background-color: #6897bb;
  color: #efefef;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h4 {
  display: inline-block;
  margin: 0;
  padding: 5px;
  letter-spacing: 2px;
  text-align: center;
}

@media(max-width:320px){
  nav h4 {
    margin-left:30px;
  }
}

aside {
  color: #fff;
  width: 0;
  height: 100vh;
  padding-top: 10px;
  background-image: linear-gradient(30deg, #0048bd, #44a7fd);
  position: absolute;
  top: 0;
  transition: width 0.5s ease-in-out;
  font-weight: 600;
}

aside a {
  font-size: 1em;
  color: #fff;
  display: block;
  padding: 12px 12px 12px 30px;
  margin: 20px auto;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

aside > div {
  margin-top: 3em;
}

aside a:hover {
  color: #6897bb;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
}

aside a i {
  margin-right: 5px;
}

i.fa-sign-out-alt {
  margin-left: 5px;
}

aside hr {
  opacity: 0;
}

label#close,
label#view {
  position: absolute;
  margin: 0 35px 0 10px;
  color: #efefef;
  padding: 10px 0;
  font-size: 22px;
  width: 25px;
  text-align: center;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
}

label#close {
  opacity: 0;
}

input#sideMenuTrigger:checked ~ aside {
  width: 250px;
  padding-left: 20px;
}

input#sideMenuTrigger:checked ~ label#close,
input#sideMenuTrigger:checked ~ aside a,
input#sideMenuTrigger:checked ~ aside hr {
  opacity: 1;
  transition: opacity 1.8s ease-in-out;
}

input#sideMenuTrigger:checked ~ label#close {
  transition-duration: 0.5s;
}

input#sideMenuTrigger:not(:checked) ~ aside a {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: -999;
}

input#sideMenuTrigger:checked ~ label#view {
  opacity: 0;
}
